.menu-bar {
    -fx-background-color: rgb(40, 40, 40);
    -fx-border-style: solid inside;
    -fx-border-width: 0 0 3 0;
    -fx-border-radius: 3;
    -fx-border-color: rgb(255, 115, 0);
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: rgb(255, 115, 0);
    -fx-text-fill: whitesmoke;
}

.menu .label {
    -fx-text-fill: whitesmoke;
}

.menu {
    -fx-background-color: rgb(40, 40, 40);
}

.menu-item {
    -fx-background-color: rgb(40, 40, 40);
}

.menu-item:focused {
    -fx-background-color: rgb(255, 115, 0);
}

.context-menu {
    -fx-background-color: rgb(40, 40, 40);
    -fx-border-color: rgb(40, 40, 40);        
}

.scroll-pane {
    -fx-background-color: rgb(40, 40, 40);
    -fx-border-color: rgb(255, 115, 0);
    -fx-border-style: solid inside;
    -fx-border-width: 0 0 3 0;
    -fx-border-radius: 3;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: rgb(40, 40, 40);
}

/* .scroll-bar:vertical .track {
    -fx-background-color: rgb(255, 115, 0);
    -fx-border-color: rgb(255, 115, 0);
    -fx-background-radius: 0em;
} */

.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(255, 115, 0);
    -fx-background-radius: 5em;
}

.toggle-button {
    -fx-background-color: rgb(255, 115, 0);
}

.toggle-button:selected {
    -fx-background-color: rgb(100, 100, 100);
    -fx-text-fill: whitesmoke;
}